fastapi
uvicorn
pydantic

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-qdrant
langchain-groq
langchain-ollama

qdrant-client
psycopg2-binary
python-dotenv
python-multipart

Pillow
requests
numpy
scipy

torch
torchvision
torchaudio
transformers
sentencepiece
tiktoken
sentence-transformers
faster-whisper
onnxruntime
rembg

gradio_client
streamlit
