fastapi
uvicorn
gradio_client
pydantic

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-qdrant
langchain-groq
langchain-ollama

qdrant-client
redis
psycopg2-binary
python-dotenv
python-multipart

Pillow
requests
numpy
scipy

torch
torchvision
torchaudio
transformers
sentencepiece
tiktoken
sentence-transformers
faster-whisper
onnxruntime
rembg

